.dashboard-page-main-container {
  /* background-color: red !important; */
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.dashboard-page-main-container .page-heading-title {
  /* background-color: green !important; */
  height: 100px;
}

.dashboard-page-main-container .principal-content-profile-page {
  /* background-color: yellow !important; */
  height: calc(100vh - 160px);
  margin: 0;
  width: 100%;
}

@media screen and (max-width: 575px) {
  /* the container with the information */
  .dashboard-page-main-container .main-info-container-normal-user {
    width: 90%;
  }

  /* the sections I'm displaying in the main container */
  .dashboard-page-main-container .content-sections-title-info-container span {
    font-size: 14px;
  }

  /* the result of the section above */
  .dashboard-page-main-container .title-info-container {
    font-size: 14px;
  }

  /* the result of the section above */
  .result-of-content-section {
    font-size: 10.6px;
  }
}
