.info-container-dashboard-page {
  width: 470px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid #f9b11c;
  box-shadow: 1px 1px 4px #ed693c, -1px -1px 4px #fdc60b;
}

.footer-join-button-container {
  height: 50px;
  margin-top: -25px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
